<!doctype html>
<html>
  <head>
    <title>Isomap</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
    <script src="static/js/index.js"></script>
  </head>
  <body>
    <div>
      <form class="inputs">
        <label for="dataset">Dataset: </label
        ><select class="inputs" name="input" id="dataset">
          <option value="swiss_roll">swiss_roll</option>
          <option value="s_curve">s_curve</option>
          <option value="digits">digits</option>
        </select>
        <br />
        <label for="mode">Neighborhood graph mode: </label
        ><select name="input" id="mode">
          <option value="k-nearest-neighbor">k-nearest-neighbor</option>
          <option value="r-ball">r-ball</option>
        </select>
        <br />
        <label id="label-for-param" for="param">K</label>
        <input id="param" type="range" min="3" max="50" step="1" name="range" />
        <br />
      </form>
      <button id="submit">Submit</button>
    </div>
    <svg id="main" width="500" height="500"></svg>
  </body>
  <script>
    function update_ui(value = undefined) {
      let mode = d3.select("#mode").node().value;
      if (mode === "k-nearest-neighbor") {
        d3.select("#param")
          .attr("min", 3)
          .attr("max", 50)
          .attr("value", value || 15)
          .attr("step", 1);
        d3.select("#label-for-param").text(
          `K: ${d3.select("#param").attr("value")}`,
        );
      } else {
        d3.select("#param")
          .attr("min", 0.5)
          .attr("max", 10)
          .attr("value", value || 0.5)
          .attr("step", 0.001);
        d3.select("#label-for-param").text(
          `R: ${d3.select("#param").attr("value")}`,
        );
      }
    }

    async function post(url, data) {
        const response = await fetch(url, {
            method: "POST",
            headers: {
            "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        return await response.json();
    }       

    update_ui();
    d3.select("#mode").on("change", (event) => update_ui());
    d3.select("#param").on("input", () => {
      update_ui(d3.select("#param").node().value);
    });

    d3.select("#submit").on("click", async () => {
        const vars = {
            data: d3.select("#dataset").node().value,
            mode: d3.select("#mode").node().value,
            param: d3.select("#param").node().value,
        };

        const result = await post("/isomap", vars);
        const isomap = result.data;
        const labels = result.labels;

        console.log(labels)

        if (vars.data != "digits"){
            color = d3.scaleSequential(d3.interpolateViridis)
                .domain(d3.extent(labels))
        }

        else {
            color = d3.scaleOrdinal(d3.schemeCategory10)
        }


        const svg = d3.select("#main")

        svg.selectAll("circle.data").remove();
        svg.selectAll(".axis").remove();

        const x = d3.extent(isomap, d => d[0]);
        const y = d3.extent(isomap, d => d[1]);

        const xScale = d3.scaleLinear()
            .domain([x[0] - 10, x[1] + 10])
            .range([50, 450]);

        const yScale = d3.scaleLinear()
            .domain([y[0] - 10, y[1] + 10])
            .range([450, 50]);

        const xAxis = d3.axisBottom(xScale);
        const yAxis = d3.axisLeft(yScale);

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(0, 450)")
            .call(xAxis);

        svg.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(50, 0)")
            .call(yAxis);

        svg.selectAll("circle")
            .data(isomap)
            .join("circle")
            .attr("cx", d => xScale(d[0]))
            .attr("cy", d => yScale(d[1]))
            .attr("r", 2)
            .attr("fill", (d, i) => color(labels[i]));
    });
  </script>
</html>
